.comment-app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.comment-form {
  display: flex;
  margin-bottom: 20px;
}

.comment-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.comment-list {
  list-style: none;
  padding: 0;
}

.comment-item {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 768px) {
  .comment-app {
    padding: 15px;
  }

  .comment-input {
    font-size: 14px;
    padding: 8px;
  }

  .comment-button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .comment-form {
    flex-direction: column;
  }

  .comment-input {
    margin-bottom: 10px;
    margin-left: 0;
  }

  .comment-button {
    margin-left: 0;
  }
}

/* 댓글 삭제 버튼 디자인 */
.comment-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

/* .comment-delete-button {
  background-color: transparent;
  color: lightslategray;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  padding: 0;
} */

.comment-delete-button:hover {
  color: purple;
}
